<main class="inner cover" id="mainContent">
    <h1 class="cover-heading display-4 italiana">{{pageTitle}}</h1>
    <p class="lead"><img class="logo-lg" src="../assets/logo-lg.png" alt="logo-lg"><img class="logo" src="../assets/logo.png"
            alt="logo"><img class="logo-100px" src="../assets/logo-100px.png" alt="logo-100px"></p>
    <p class="h3 font-weight-bold italiana">Welcome to our passion project, please log in or register to view our
        recipes</p>
    <p class="lead btn-group mt-2" role="group"><button class=" italiana btn btn-lg btn-dark" (click)="navigateToLogin()">Log
            in</button><button class=" italiana btn btn-lg btn-dark" (click)="navigateToRegister()">Register</button></p>
</main>